<header>
  <span class="name">Properties</span>
</header>
<form class="block-conf">
  <label for="bc-name">Name</label>
  <input type="text" id="bc-name" name="name" value="{{name}}" />
  <label for="bc-paused">Paused</label>
  <input type="checkbox" id="bc-paused" name="paused" {{#paused}}checked="checked"{{/paused}} />
  <fieldset>
    <legend>Arguments ({{type}})</legend>
    <ul>
    {{#each args}}
      <li>
        <label for="bc-{{name}}">{{name}}</label>
        <input type="text" id="bc-{{name}}" name="{{name}}"
          value="{{value}}" data-type="{{type}}"
          data-max="{{max}}" data-min="{{min}}" />
      </li>
      {{/each}}
    </ul>
  </fieldset>
</form>
